<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>bhavishya Purana - Details</title>
  <link rel="stylesheet" href="/css/styles1.css" />
</head>
<body>
  <div class="book-detail-container">
    <img src="images/bhavishya.jpg" alt="Shiva Purana Cover" class="book-cover-large" />
    <h1>Bhavishya Purana</h1>
    <p class="book-desc">
      The Bhavishya Purana is one of the eighteen major Puranas in Hinduism. 
      Its name means "The Future Purana," reflecting that it contains prophecies and accounts of future events. The text is traditionally attributed to the sage Vyasa, the compiler of the Vedas.<br>

       The Bhavishya Purana is divided into four parts (parvas):<br>

       Brahma Parva — covers the creation, greatness of various deities like Vishnu, Shiva, and Surya, and traditional rituals.<br>

       Madhyama Parva — includes cosmology, astrology, geographical references, and ethical guidelines.<br>
 
       Pratisarga Parva — contains historical and prophetic narratives, including mentions of different kings, religions like Christianity and Islam, and colonial history.<br>

       Uttaraparva (or Bhavishyottara Purana) — discusses festivals, vows, charity, sin and virtue, pilgrimage sites, and mythology<br>
      Besides stories related to Skanda, it offers detailed descriptions of holy sites across India, promoting pilgrimage as a spiritual practice.
    </p>
    
    <div class="buy-section">
      <h3>Available to Buy</h3>
      <a href="https://www.amazon.in/s?k=bhavishya+purana+book" target="_blank" class="buy-btn">Buy on Amazon</a>
      <a href="https://www.exoticindiaart.com/find?groups=&q=bhavishya+purana" target="_blank" class="buy-btn">Buy at Exotic India</a>
    </div>
  </div>
</body>
</html>