<html>
    <head>
        <title>buddhism books</title>
        <link rel="stylesheet" href="../static/css/styles1.css">
    </head>
    <body>
        <h1 class="heading">
            Buddhism Books
        </h1>
        <div class="purana-grid">
            <a href="/html/tipitaka.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/tipitaka.jpg" class="purana-icon">
                    <h2>Tipitaka</h2>
                </div>
            </a>
            <a href="/html/mahayana.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/mahayana.jpg" class="purana-icon">
                    <h2>Mahayana sutras</h2>
                </div>
            </a>
        </div>
        <div class="purana-grid">
            <a href="/html/tibetan.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/tibetan.jpg" class="purana-icon">
                    <h2>Tibetan Buddhist Texts</h2>
                </div>
            </a>
            <a href="/html/dhammapada.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/dhammapada.jpg" class="purana-icon">
                    <h2>Dhammapada</h2>
                </div>
            </a>
        </div>
        
    </body>
</html>