<html>
    <head>
        <title>itihasas</title>
        <link rel="stylesheet" href="../static/css/styles1.css">
    </head>
    <body>
        <h1 class="heading">
            The Itihasas
        </h1>
        <div class="purana-grid">
            <a href="/html/ramayanam.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="../static/images/ramayanam.jpg" class="purana-icon">
                    <h2>Ramayanam</h2>
                </div>
            </a>
            <a href="/html/mahabharatam.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="../static/images/mahabharatam.jpg" class="purana-icon">
                    <h2>Mahabharatam</h2>
                </div>
            </a>
        </div>
    </body>
</html>