<html>
    <head>
        <title>jainism books</title>
        <link rel="stylesheet" href="../static/css/styles1.css">
    </head>
    <body>
        <h1 class="heading">
            Jainism Books
        </h1>
        <div class="purana-grid">
            <a href="/html/agamas.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/agamas.jpg" class="purana-icon">
                    <h2>Agamas</h2>
                </div>
            </a>
            <a href="/html/tattvarthasutra.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/tattvarthasutra.jpg" class="purana-icon">
                    <h2>Tattvarthasutra</h2>
                </div>
            </a>
        </div>
        <div class="purana-grid">
            <a href="/html/samayasara.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/samayasara.jpg" class="purana-icon">
                    <h2>Samayasara</h2>
                </div>
            </a>
            <a href="/html/mahapurana.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/mahapurana.jpg" class="purana-icon">
                    <h2>Mahapuarana</h2>
                </div>
            </a>
        </div>
        <div class="purana-grid">
            <a href="/html/antahpurana.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/antahpurana.jpg" class="purana-icon">
                    <h2>Antahpurana</h2>
                </div>
            </a>
            <a href="/html/pravachanasara.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/pravachanasara.jpg" class="purana-icon">
                    <h2>Pravachanasara</h2>
                </div>
            </a>
        </div>
    </body>
</html>