<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>matsya Purana - Details</title>
  <link rel="stylesheet" href="/css/styles1.css" />
</head>
<body>
  <div class="book-detail-container">
    <img src="images/matsya.jpg" alt="Shiva Purana Cover" class="book-cover-large" />
    <h1>Matsya Purana</h1>
    <p class="book-desc">
      The Matsya Purana is one of the eighteen major Puranas and among the oldest Hindu scriptures in the Puranic genre.
       It is named after Matsya, the fish avatar of Lord Vishnu, who is believed to be the first of Vishnu’s ten primary avatars. 
      This Purana survives in many versions, generally containing about 291 chapters.<br>
The Matsya Purana serves as a comprehensive spiritual and cultural guide encompassing ritualistic, philosophical, architectural, and ethical dimensions of Hindu life .
</p>
    <div class="buy-section">
      <h3>Available to Buy</h3>
      <a href="https://www.amazon.in/s?k=matsya+purana+book" target="_blank" class="buy-btn">Buy on Amazon</a>
      <a href="https://www.exoticindiaart.com/find?groups=&q=matsya+purana" target="_blank" class="buy-btn">Buy at Exotic India</a>
    </div>
  </div>
</body>
</html>