<html>
    <head>
        <title>sikhism books</title>
        <link rel="stylesheet" href="../static/css/styles1.css">
    </head>
    <body>
        <h1 class="heading">
            Sikhism Books
        </h1>
        <div class="purana-grid">
            <a href="/html/gurugranth.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/gurugranth.jpg" class="purana-icon">
                    <h2>Guru Granth Sahib</h2>
                </div>
            </a>
            <a href="/html/dasamgranth.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/dasamgranth.jpg" class="purana-icon">
                    <h2>Dasam Granth</h2>
                </div>
            </a>
        </div>
        <div class="purana-grid">
            <a href="/html/janamsakhis.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/janamsakhis.jpg" class="purana-icon">
                    <h2>Janamsakhis</h2>
                </div>
            </a>
            <a href="/html/rehatmaryada.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/rehatmaryada.jpg" class="purana-icon">
                    <h2>Rehat Maryada</h2>
                </div>
            </a>
        </div>
        
        
    </body>
</html>