<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>skanda Purana - Details</title>
  <link rel="stylesheet" href="/css/styles1.css" />
</head>
<body>
  <div class="book-detail-container">
    <img src="images/skanda.jpg" alt="Shiva Purana Cover" class="book-cover-large" />
    <h1>Skanda Purana</h1>
    <p class="book-desc">
      The Skanda Purana is the largest of the eighteen Mahapuranas, containing over 81,000 verses.
       Named after Skanda (also called Kartikeya or Murugan), the son of Lord Shiva and Parvati, it is a vast Hindu scripture that encompasses a wide array of themes such as cosmology, mythology, dharma (righteous living), festivals, sacred geography, pilgrimage guides (Tirtha Mahatmya), and spiritual teachings.<br>
      The Purana is divided into multiple sections or Khandas, including the Maheshwara Khanda (focused on Shiva), Vishnu Khanda, Brahma Khanda, and others, each focusing on different deities, theological ideas, and narrative lore. 
      Besides stories related to Skanda, it offers detailed descriptions of holy sites across India, promoting pilgrimage as a spiritual practice.
    
    <div class="buy-section">
      <h3>Available to Buy</h3>
      <a href="https://www.amazon.in/s?k=skanda+Purana+book" target="_blank" class="buy-btn">Buy on Amazon</a>
      <a href="https://www.exoticindiaart.com/find?groups=&q=skanda+purana" target="_blank" class="buy-btn">Buy at Exotic India</a>
    </div>
  </div>
</body>
</html>