<html>
    <head>
        <title>vedas</title>
        <link rel="stylesheet" href="../static/css/styles1.css">
    </head>
    <body>
        <h1 class="heading">
            The Vedas
        </h1>
        <div class="purana-grid">
            <a href="/html/rigveda.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/rigveda.jpg" class="purana-icon">
                    <h2>Rigveda</h2>
                </div>
            </a>
            <a href="/html/yajurveda.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/yajurveda.jpg" class="purana-icon">
                    <h2>Yajurveda</h2>
                </div>
            </a>
        </div>
        <div class="purana-grid">
            <a href="/html/samaveda.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/samaveda.jpg" class="purana-icon">
                    <h2>Samaveda</h2>
                </div>
            </a>
            <a href="/html/atharvaveda.html" class="purana-card-link">
                <div class="purana-card">
                    <img src="images/atharvaveda.jpg" class="purana-icon">
                    <h2>Atharvaveda</h2>
                </div>
            </a>
        </div>
    </body>
</html>