<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>garuda Purana - Details</title>
  <link rel="stylesheet" href="/css/styles1.css" />
</head>
<body>
  <div class="book-detail-container">
    <img src="images/garuda.jpg" alt="Shiva Purana Cover" class="book-cover-large" />
    <h1>Garuda Purana</h1>
    <p class="book-desc">
      The Garuda Purana is one of the major Hindu scriptures belonging to the Vaishnava tradition and one of the eighteen Mahapuranas.
       It is named after Garuda, the divine eagle and mount (vahana) of Lord Vishnu. 
      The Purana is structured as a dialogue between Garuda and Vishnu, where Vishnu imparts spiritual and practical knowledge.<br>
The Garuda Purana is especially recited during mourning and funeral ceremonies in North India and is considered a guide to both worldly knowledge and spiritual liberation.
</p>
    <div class="buy-section">
      <h3>Available to Buy</h3>
      <a href="https://www.amazon.in/s?k=garuda+purana+book" target="_blank" class="buy-btn">Buy on Amazon</a>
      <a href="https://www.exoticindiaart.com/find?groups=&q=garuda+purana" target="_blank" class="buy-btn">Buy at Exotic India</a>
    </div>
  </div>
</body>
</html>