<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Hindu Purana Books</title>
  <link rel="stylesheet" href="/css/styles1.css" />
</head>
<body>
  <h1 class="heading">Hindu Purana Books</h1>
  <div class="purana-grid">
    <a href="/html/bhagavata.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/bhagavata.jpeg" alt="Bhagavata Purana Icon" class="purana-icon" />
        <h2>Bhagavata Purana</h2>
      </div>
    </a>
    <a href="/html/shiva.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/shiva.jpeg" alt="Shiva Purana Icon" class="purana-icon" />
        <h2>Shiva Purana</h2>
      </div>
    </a>
    <a href="/html/vishnu.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/vishnu.jpeg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Vishnu Purana</h2>
      </div>
    </a>
    <a href="/html/brahma.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/brahma.jpeg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Brahma Purana</h2>
      </div>
    </a>

  </div>
  <div class="purana-grid">
    <a href="/html/padma.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/padma.jpeg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Padma Purana</h2>
      </div>
    </a>
    <a href="/html/narada.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/narada.jpeg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Narada Purana</h2>
      </div>
    </a>
    <a href="/html/markandeya.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/markandeya.jpg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Markandeya Purana</h2>
      </div>
    </a>
    <a href="/html/agni.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/agni.jpg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Agni Purana</h2>
      </div>
    </a>
    <a href="/html/bhavishya.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/bhavishya.jpg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Bhavishya Purana</h2>
      </div>
    </a>
    <a href="/html/brahmavaivarta.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/brahmavaivarta.jpg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Brahmavaivarta Purana</h2>
      </div>
    </a>
    <a href="/html/linga.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/linga.jpeg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Linga Purana</h2>
      </div>
    </a>
    <a href="/html/varaha.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/varaha.jpg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Varaha Purana</h2>
      </div>
    </a>
    <a href="/html/skanda.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/skanda.jpg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Skanda Purana</h2>
      </div>
    </a>
    <a href="/html/vamana.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/vamana.jpeg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Vamana Purana</h2>
      </div>
    </a>
    <a href="/html/kurma.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/kurma.jpeg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Kurma Purana</h2>
      </div>
    </a>
    <a href="/html/matsya.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/matsya.jpg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Matsya Purana</h2>
      </div>
    </a>
    <a href="/html/garuda.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/garuda.jpg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Garuda Purana</h2>
      </div>
    </a>
    <a href="/html/brahmanda.html" class="purana-card-link">
      <div class="purana-card">
        <img src="images/brahmanda.jpeg" alt="Vishnu Purana Icon" class="purana-icon" />
        <h2>Brahmanda Purana</h2>
      </div>
    </a>
  </div>
</body>
</html>