<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>rig veda- Details</title>
  <link rel="stylesheet" href="/css/styles1.css" />
</head>
<body>
  <div class="book-detail-container">
    <img src="images/rigveda.jpg" alt="Shiva Purana Cover" class="book-cover-large" />
    <h1>Rigveda</h1>
    <p class="book-desc">
      The Rigveda is the oldest and most sacred Hindu scripture, composed in Vedic Sanskrit around 1500–1000 BCE. 
      It contains approximately 1,028 hymns (suktas) and about 10,600 verses organized into 10 books (mandalas).
      
      The Rigveda explores themes such as ritual and sacrifice, cosmology and creation, and the roles of deities like Indra, Agni, and Soma.<br>

       The Rigveda continues to be recited during Hindu prayers and ceremonies, making it possibly the world's oldest religious text still in use.
    </p>
    
    <div class="buy-section">
      <h3>Available to Buy</h3>
      <a href="https://www.amazon.in/s?k=rigveda" target="_blank" class="buy-btn">Buy on Amazon</a>
      <a href="https://www.exoticindiaart.com/find?groups=&q=rigveda" target="_blank" class="buy-btn">Buy at Exotic India</a>
    </div>
  </div>
</body>
</html>