<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>yajur veda- Details</title>
  <link rel="stylesheet" href="/css/styles1.css" />
</head>
<body>
  <div class="book-detail-container">
    <img src="images/yajurveda.jpg" alt="Shiva Purana Cover" class="book-cover-large" />
    <h1>Yajurveda</h1>
    <p class="book-desc">
      The Yajurveda is one of the four Vedas, primarily focused on ritual formulas and sacrificial rites in Hinduism.
       It contains prose mantras and instructions a priest recites while performing various ceremonies, particularly yajnas (sacrificial fires).<br>
       It has two major branches:<br>

Shukla (White) Yajurveda: Mainly prose mantras and formulas.<br>

Krishna (Black) Yajurveda: Contains prose and poetic verses mixed together.
    </p>
    
    <div class="buy-section">
      <h3>Available to Buy</h3>
      <a href="https://www.amazon.in/s?k=yajurveda" target="_blank" class="buy-btn">Buy on Amazon</a>
      <a href="https://www.exoticindiaart.com/find?groups=&q=yajurveda" target="_blank" class="buy-btn">Buy at Exotic India</a>
    </div>
  </div>
</body>
</html>