<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>atharvaveda veda- Details</title>
  <link rel="stylesheet" href="/css/styles1.css" />
</head>
<body>
  <div class="book-detail-container">
    <img src="images/atharvaveda.jpg" alt="Shiva Purana Cover" class="book-cover-large" />
    <h1>Atharvaveda</h1>
    <p class="book-desc">
      The Atharvaveda is one of the four Vedas and is often considered the most practical and earthly among them.
       It contains about 730 hymns with approximately 6,000 mantras, compiled into 20 books.
       Unlike the other Vedas that focus mainly on rituals and sacrificial ceremonies, the Atharvaveda includes spells, charms, healing rituals, prayers, and philosophical hymns addressing everyday life, health, prosperity, protection, and ethics.<br>
       The Atharvaveda thus complements the other Vedas by addressing the holistic needs—both physical and spiritual—of the practitioners in Vedic Hindu tradition.
    </p>
    
    <div class="buy-section">
      <h3>Available to Buy</h3>
      <a href="https://www.amazon.in/s?k=atharvaveda" target="_blank" class="buy-btn">Buy on Amazon</a>
      <a href="https://www.exoticindiaart.com/find?groups=&q=atharvaveda" target="_blank" class="buy-btn">Buy at Exotic India</a>
    </div>
  </div>
</body>
</html>