<html>
    <head>
      <title>Books</title>
      <link rel="stylesheet" href="/css/bookstyles.css">
    </head>
    <body>
      <h1 class="title">BOOKS of INDIA</h1>
      <div class="grid">
        <a href="/html/hindubooks.html" class="card-link">
          <div class="card">
            <h2>HINDU PURANA BOOKS</h2>
          </div>
        </a>
      </div>
      <div class="grid">
        <a href="/html/epicbooks.html" class="card-link">
          <div class="card">
            <h2>ITIHASAS</h2>
          </div>
        </a>
      </div>
      
      <div class="grid">
        <a href="/html/vedas.html" class="card-link">
          <div class="card">
            <h2>THE VEDAS</h2>
          </div>
        </a>
      </div>
      
      <div class="grid">
        <a href="/html/bhagavatgita.html" class="card-link">
          <div class="card">
            <h2>BHAGAVAD GITA</h2>
          </div>
        </a>
      </div>
      <div class="grid">
        <a href="/html/jainismbooks.html" class="card-link">
          <div class="card">
            <h2>JAINISM BOOKS</h2>
          </div>
        </a>
      </div>
      <div class="grid">
        <a href="/html/buddhismbooks.html" class="card-link">
          <div class="card">
            <h2>BUDDHISM BOOKS</h2>
          </div>
        </a>
      </div>
      <div class="grid">
        <a href="/html/sikhismbooks.html" class="card-link">
          <div class="card">
            <h2>SIKHISM BOOKS</h2>
          </div>
        </a>
      </div>
      <div class="grid">
        <a href="/html/quran.html" class="card-link">
          <div class="card">
            <h2>QURAN</h2>
          </div>
        </a>
      </div>
      <div class="grid">
        <a href="/html/bible.html" class="card-link">
          <div class="card">
            <h2>BIBLE</h2>
          </div>
        </a>
      </div>
    </body>
</html>