<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>markandeya Purana - Details</title>
  <link rel="stylesheet" href="/css/styles1.css" />
</head>
<body>
  <div class="book-detail-container">
    <img src="images/markandeya.jpg" alt="Shiva Purana Cover" class="book-cover-large" />
    <h1>Markandeya Purana</h1>
    <p class="book-desc">
      The Markandeya Purana is one of the eighteen major Puranas in Hinduism, consisting of 137 chapters and around 6,900 to 9,000 verses. 
      It is attributed to the sage Markandeya and contains a wide range of topics including mythology, cosmology, philosophy, dharma (duty), karma, sacred geography, and rituals.<br>
      The Purana begins with sage Jaimini asking Markandeya questions that were raised but not answered in the Mahabharata.
       The text includes moral teachings intertwined with mythological narratives and presents Yoga philosophy as a path to liberation.
        The latter portion records genealogies, descriptions of cosmic cycles (manvantaras), and glorifies deities like Surya (Sun god).
       It also recounts stories including that of King Harischandra.
    </p>
    
    <div class="buy-section">
      <h3>Available to Buy</h3>
      <a href="https://www.amazon.in/s?k=markandeya+Purana+book" target="_blank" class="buy-btn">Buy on Amazon</a>
      <a href="https://www.exoticindiaart.com/find?groups=book&q=markandeya+purana" target="_blank" class="buy-btn">Buy at Exotic India</a>
    </div>
  </div>
</body>
</html>