<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>sama veda- Details</title>
  <link rel="stylesheet" href="/css/styles1.css" />
</head>
<body>
  <div class="book-detail-container">
    <img src="images/samaveda.jpg" alt="Shiva Purana Cover" class="book-cover-large" />
    <h1>Samarveda</h1>
    <p class="book-desc">
      The Samaveda is the Veda of melodies and chants, one of the four sacred Vedas of Hinduism.
       It contains about 1,875 verses, most of which are derived from the Rigveda but arranged musically for singing during rituals and ceremonies.<br>
       The Samaveda is composed of two main parts:<br>

Gana (melody collections) used for public and meditative chanting.<br>

Arcika (verse books) which correspond to verses set to those melodies.
    </p>
    
    <div class="buy-section">
      <h3>Available to Buy</h3>
      <a href="https://www.amazon.in/s?k=samaveda" target="_blank" class="buy-btn">Buy on Amazon</a>
      <a href="https://www.exoticindiaart.com/find?groups=&q=samaveda" target="_blank" class="buy-btn">Buy at Exotic India</a>
    </div>
  </div>
</body>
</html>